*~
*.swp
perf_results.csv
/slides/proof-of-concept-comparison/_region_.tex
/slides/proof-of-concept-comparison/main.aux
/slides/proof-of-concept-comparison/main.dvi
/slides/proof-of-concept-comparison/main.log
/slides/proof-of-concept-comparison/main.nav
/slides/proof-of-concept-comparison/main.out
/slides/proof-of-concept-comparison/main.pdf
/slides/proof-of-concept-comparison/main.snm
/slides/proof-of-concept-comparison/main.toc
/slides/proof-of-concept-comparison/main.vrb
/stm/anneal/anneal
/stm/anneal/inputgen
/stm/anneal/anneal.in
/Rplots.pdf
/condition-speedup.pdf
/condition-time.pdf
/mutex-speedup.pdf
/mutex-time.pdf
/noshare-speedup.pdf
/noshare-time.pdf
/prodcons-speedup.pdf
/prodcons-time.pdf
/share-bar.pdf
/share-speedup.pdf
/share-time.pdf
/speedup-facet.pdf
/time-facet.pdf
/slides/proof-of-concept-comparison/queue.odg

# profiling files
callgrind.*
perf.data
perf.data.old
oprofile_data/
